body{
    background-color: #dfe0c3;
}

#nameSection{
    display: flex;
    flex-direction: column;
}

#map { 
    height: 180px; 
    border: 1px solid;
}

li{
    border: 1px solid;
    border-radius: 25%;
    padding: 10px;
    background-color: #bbd5d2;
    list-style: none;
    
}